<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="icon" type="image/x-icon" href="../../../../public/favicon-logo.ico"> -->
  <link rel="icon" type="image/x-icon" href="assets/favicon-logo.ico">
</head>

<body>
  <div class="container-main">
    <div class="background-image" [style.background-image]="'url(' + imagemUrl + ')'">

      <div class="conteiner">
        <div id="text-center">
          <div class="background-image">
            <img src="assets/images/perfilGda.jpg" alt="Foto do Genivaldo" class="profile-pic" />
            <!-- <img src="../../assets/images/perfilGda.jpg" alt="Foto do Genivaldo" class="profile-pic" /> -->
          </div>
          <h1>Genivaldo Alves Dos Anjos</h1>
        </div>
        <div class="localizacao">
          <h3><i class="fas fa-map-marker"></i> Informação de localização</h3>
          <div class="contact">
            <a href="https://goo.gl/maps/B95yipx2vfMy2Hr18">
              <i class="fas fa-map-marker-alt"></i> Localização Google-Maps São
              Paulo
            </a>
          </div>

        </div>




        <div class="section">
          <p class="section-title"><strong>Objetivo:</strong></p>
          <div class="obejtivo-junior">
            <p>
              Aprimorar meu conhecimento acadêmico! Análise e Desenvolvimento de Sistemas.
              Busco uma oportunidade como desenvolvedor júnior para aplicar minhas habilidades técnicas e contribuir
              para o sucesso da equipe.
            </p>

            <ul>
              <li>Desenvolvedor Java júnior | Desenvolvedor .Net júnior | Desenvolvedor full stack júnior</li>
            </ul>
          </div>
        </div>
        <div class="section">
          <p class="section-title">Formação Acadêmica:</p>
          <p>Formado: Análise e Desenvolvimento de Sistemas</p>
          <p>Instituição: Centro Universitário Senac</p>
        </div>

        <div class="skills-carousel-container">
          <p class="section-title">Minhas Habilidades Técnicas</p>

          <div class="carousel-wrapper">
            <button class="nav-btn" (click)="anterior()">❮</button>

            <div class="carousel-content">
              @for (skill of habilidades; track skill.categoria; let i = $index) {
              <div class="skill-card" [class.active]="i === currentIndex">
                <div class="card-icon">
                  <fa-icon [icon]="skill.icon"></fa-icon>
                </div>
                <h3>{{ skill.categoria }}</h3>
                <p>{{ skill.itens }}</p>
              </div>
              }
            </div>

            <button class="nav-btn" (click)="proximo()">❯</button>
          </div>

          <div class="dots">
            @for (dot of habilidades; track $index; let i = $index) {
            <span class="dot" [class.active-dot]="i === currentIndex" (click)="currentIndex = i"></span>
            }
          </div>
        </div>

        <div class="section">
          <p class="section-title">Experiência Acadêmica:</p>
          <p>Projetos de Desenvolvimento:</p>
          <p>
            Cursos Complementares: Extensão Senac no (Cic) centro de informação e
            comércio duração 12 meses
          </p>


          <section class="resumo-profissional">
            <h2>Resumo Profissional</h2>
            <p>
              Desenvolvedor com foco em <strong>Java</strong>, <strong>C#</strong>, <strong>Spring Boot</strong> e
              <strong>Angular CLI</strong>, buscando sempre evoluir minhas habilidades e aplicar boas práticas de
              desenvolvimento. Tenho experiência na criação de <strong>APIs RESTful</strong>, integração com bancos de
              dados
              usando <strong>JPA/Hibernate</strong> e <strong>Spring Data</strong>, além de sólidos conhecimentos em
              <strong>POO</strong> e <strong>Design Patterns</strong>.
            </p>
            <p>
              No front-end, desenvolvo interfaces dinâmicas e responsivas com <strong>Angular CLI</strong>, aplicando
              princípios
              de usabilidade e design. Também possuo experiência em <strong>ASP.NET, MVC e WPF</strong>, o que me
              permite construir
              soluções completas e integradas.
            </p>
            <p>
              Tenho interesse em <strong>DevOps</strong>, com familiaridade em ferramentas como <strong>Docker</strong>
              e
              <strong>Git</strong>, colaborando em ambientes de integração e entrega contínua. Concluí cursos
              complementares
              (Senac CIC, duração 12 meses) e certificações da <strong>AWS</strong>, <strong>Microsoft</strong>,
              <strong>Rocketseat</strong> e <strong>DevMedia</strong>, que reforçam meu compromisso com qualidade,
              segurança e
              aprendizado contínuo.
            </p>
          </section>

          <div class="section">
            <p class="section-title">Idiomas:</p>
            <p>Português: Nativo</p>
            <p>
              Inglês: Nível de conhecimento em inglês, Basic proficiency, Limited
              ability
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
