.container-lista {
  max-width: 800px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.container-lista h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #00d4ff;
  color: #fff;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}
