* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  margin: 0;
  padding: 0;
  height: 0%;
  width: 100%;
  background: #06050e;
}

.container-lista {
  max-width: 900px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
  font-family: Arial, sans-serif;
}

.container-lista h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #222;
  font-size: 28px;
  font-weight: bold;
}

/* .lista-contatos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
} */
.lista-contatos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  border-radius: 43px;
  padding: 30px;
}

/* .card-contato {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
} */
.card-contato[_ngcontent-ng-c3851532165] {
    background: #f9f9f9;
    border-radius: 10px;
    border: 2px solid #ff5722;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-contato:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
}

.card-contato h3 {
  margin: 0 0 10px;
  color: #00bcd4;
  font-size: 20px;
}

.card-contato p {
  margin: 5px 0;
  color: #555;
  font-size: 15px;
}
