* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/* .navbar {
  background-color: #333;
  padding: 10px;
} */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar {
  background-color: #333;
  padding: 10px;
  list-style: none;
  display: flex;
  gap: 66px;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
  color: rgb(207, 210, 30);
  font-weight: 800;
  animation: pulse 0.6s ease-in-out;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
