html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* desativa scroll */
}

.main-body {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* vídeo cobre toda tela */
}

.background-video {
  position: fixed;
  /* ocupa toda a tela */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  /* fica atrás do conteúdo */
}
/*
#backgroundVideo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* ajusta sem distorcer 
}

/* Ajustes para telas menores (celular)
@media (max-width: 768px) {
  #backgroundVideo {
    object-fit: contain;
    /* mostra o vídeo inteiro sem cortar
    background-color: #00000021;
    /* bordas pretas se sobrar espaço
    min-width: 100%;
    min-height: 100%;
  }

  .background-video {
    position: fixed;
    /* ocupa toda a tela
    top: 0;
    left: 0;
    margin: 0, 0, 0, 100px;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    z-index: -1; /* fica atrás do conteúdo
  }
} */
